<div class='ui container'>
	<div class='ui info message' style="margin-top: 14px;">
		<h3>You dont have access</h3>
		<ul class="ui list">
			<li>You are logged in as - <%=req.user.name%> - <%=req.user.email%></li>
			<li>You dont have access</li>
			<li>Ask an admin user to grand you access</li>
		</ul>
	</div>
</div>